<p>card-register works!</p>
<div class="row">
    <div class="col-1">
       
    </div>
  <div class="col-10">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.alphacoders.com/294/294213.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images3.alphacoders.com/769/76995.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.alphacoders.com/899/89961.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    
      <button type="button"class="btn btn-primary position-relative">Link
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">Mensajes sin leer</span>
        </span>
      </button>
  </div>
 
</div>

<div class="row">
<div class="col-4">

</div>
<div class="col-3">
  <h2>Paises para visitar <span class="badge bg-secondary"></span></h2>
  
</div>
</div>

<div class="container">
<div class="row">
  
  <div class="col-4" *ngFor="let item of  datacard ">
    <app-cardcomponent [cardTitle]="item.cardtitul" [descripcion]="item.descri" [boton]="item.boton" [imagn]="item.il" >

    </app-cardcomponent>
     
  </div>
</div>
<div class="row">
</div>



<div class="row">
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  USA
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>

</div>
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  CUBA
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>

</div>
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  COLOMBIA
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>

</div>
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  PERU
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>

</div>
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  ARGENTINA
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>

</div>
<div class="col-2">
<button type="button" class="btn btn-primary position-relative">
  CHILE
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">Nuevas alertas</span>
  </span>
</button>
</div>